* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.input {
  transition: border 0.2s ease-in-out;
  min-width: 500px;
}
.input:focus + .label,
.input:active + .label,
.input.filled + .label {
  font-size: 0.75rem;
  transition: all 0.2s ease-out;
  top: -0.9rem;
  background-color: #fff;
  color: #3da9fc;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  display: inline;
}

input:focus::placeholder {
  color: transparent;
}

.label {
  transition: all 0.2s ease-out;
  top: -0.9rem;
  background-color: white;
  left: 0;
  font-size: 0.75rem;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  display: none;
}
